<header>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title>Mercado Liebre</title>
    <div>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel = "stylesheet" href ="/css/styles.css">
        <img src ="images/logo-mercado-liebre.svg">
    </div>
    <div class="search-box">
        <input type="text" placeholder="Buscar">
        <i class="fas fa-search"></i>
    </div>
    <div>      
        <p class="centrar-horizontal"><i class="fas fa-solid fa-hand-holding-usd"> Comprá en cuotas y sin tarjeta de crédito</i></p></div>
        <ul class="mi-lista">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            <br>
            <li><a href="#">Creá tu cuenta</a> <i class="iconos fas fa-regular fa-address-card"></i></li>
            <li><a href="#">Ingresá</a> <i class="iconos fas fa-arrow-right"></i></li>
            <li><a href="#">Mis compras</a> <i class="iconos fas fa-shopping-basket"></i></li>
        </ul>
    </div>
    <div class="burguer-menu">
        <i class="fas fa-bars"></i>
    </div>

</header>