*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

p{
    font-size: 12px;
}


div.top{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header {
    background-color: #EAC926;
}

header div.top p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header div.logo-superior,
header .search-box{
    width: 50%;
}

header div.logo-superior{
    padding: 10px;
}

header .search-box{
    display:flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}

header .search-box .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .search-box .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

header nav{
    font-size: 12px;
    margin-left: 20px;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color:#000
}

.burguer-menu{
    display:flex;
    justify-content: center;
    align-items: center;
}

div.burguer-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}


main section h3{
    font-size: 24px;
    margin: 20px 0px;
    color: #666;
}

main section article{
    background-color: #FFF;
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
}

main section article i,
.descuentos{
    color:#39b54a;
}

.caja{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;    
}

div.visita,
div.ofertas{
    display: flex;
    flex-wrap: wrap;
}

.precios{
    font-size: 18px;
    width: 30%;
}

.descuentos{
    width: 70%;
}

.descripciones{
    display:none;
    margin-top: 20px;
    color: #666
}

.descuentos,
.descripciones{
    font-size: 16px;
    font-weight: normal;
}

.productos article {
  position: relative;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.productos article:hover {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.productos article .descripciones {
  display: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  z-index: 1;
}

.productos article:hover .descripciones {
  display: block;
}

.productos article i.fas.fa-truck {
  transition: transform 0.3s ease;
}

.productos article:hover i.fas.fa-truck {
  transform: rotate(-90deg);
}

.productos article .caja {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }



/* Register */

input:focus{
    color:black;

}

ul{
    list-style-type: none;
}

form {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0055aa;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* footer */

footer {
    padding: 20px;
}

.mi-lista {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column; /* Móvil: una columna */
}

.columna {
    text-align: center;
    margin: 20px;
    transition: color 0.3s;
}

.columna:hover i {
    color: yellow;
}

.derechos {
    text-align: center;
    margin-top: 20px;
}

@keyframes fadeAndSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}


@media (min-width: 361px){
    main section article .descripciones{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.productos{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section div.productos article{
        width: 45%;
    }

    .precios,
    .descuentos{
        width: 50%;
    }

    .productos article .descripciones {
        font-size: 18px;
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeAndSlideIn 0.3s ease forwards;
        line-height: 28.5px;
      }

    .productos article:hover .descripciones {
        font-size: 20px;
        opacity: 1;
        transform: translateY(0);
        display: block;
    }


}

@media (min-width: 769px){
    main section div.productos article{
        width: 22%;
    }

    .mi-lista {
        flex-direction: row;
    }

    .productos article .descripciones {
        font-size: 18px;
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeAndSlideIn 0.3s ease forwards;
      }

    .productos article:hover .descripciones {
        font-size: 20px;
        opacity: 1;
        transform: translateY(0);
        display: block;
    }

    .productos article .caja {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    

}

@media screen and (min-width: 1280px) {
    .mi-lista {
        justify-content: space-between;
    }

    .productos article .descripciones {
        font-size: 18px;
        opacity: 0;
        transform: translateY(-20px);
        animation: fadeAndSlideIn 0.3s ease forwards;
        line-height: 28.5px;
      }

    .productos article:hover .descripciones {
        font-size: 20px;
        opacity: 1;
        transform: translateY(0);
        display: block;
    }

    .productos article .caja {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    

}